<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>L2JS Designer</title>
		<link rel="stylesheet" type="text/css" href="/css/l2jsDesigner.css">
	</head>
	<body>
		<div id="content" class="container-fluid" ng-controller="AppController">
			{{{body}}}
		</div>

		<script type="text/javascript" src="/js/l2jsDesigner.js"></script>
	</body>
</html>
