<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>L2 Designer</title>
		<link rel="stylesheet" type="text/css" href="/css/l2-designer.css">
	</head>
	<body>
		<div id="content" class="container-fluid" ng-controller="AppController">
			{{{body}}}
		</div>

		<!-- <script type="text/javascript" src="/node_modules/pixi.js/bin/pixi.js"></script> -->

		<script type="text/javascript" src="/js/l2-designer.js"></script>
	</body>
</html>
