<section id="projects" class="row">

	<div class="col-md-offset-4 col-md-4">
		<h1>Projects</h1>

		<form id="projects-form" ng-submit="addProject()">
			<input id="new-project" class="form-control" placeholder="Name of new project" ng-model="newProject" autofocus />
		</form>
		<ul id="projects-list">
			<li ng-repeat="project in projects">
				<a href="/projects/{{project._id}}">{{project.name}}</a>
				<nav class="actions">
					<button type="button" class="close" ng-click="removeProject(project)">
						&times;
					</button>
				</nav>
			</li>
		</ul>
	</div>
</section>