<div class="modal-header">
	<h3>Select directory</h3>
</div>
<div class="modal-body">

	<form id="directories-form" ng-submit="addDirectory()">
		<input id="new-directory" class="form-control" placeholder="Name of new directory" ng-model="selected.newDirectory" autofocus />
	</form>

	<p ng-if="directories.length === 0"class="text-center">
		<em>No directories yet.</em>
	</p>

	<ul  class="directories-list">
		<li ng-repeat="directory in project.directories">
			<a ng-click="select(directory)">{{ directory.name }}</a>
		</li>
	</ul>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel()">
		Cancel
	</button>
</div>