@baseGray: #ddd;
@projectsPadding: 10px;

.cursorPointer() {cursor: pointer; cursor: hand;}
.iconText() {
  .glyphicon {margin-right: 5px;}
}

.quick-edit-list {
  &-list {
      .actions {position: absolute; right:  @projectsPadding ; top:  @projectsPadding; display: none;}
      a, .readonly {display: block; padding: @projectsPadding 0 @projectsPadding @projectsPadding;}
      li {position: relative;}
      li:hover {
          background-color: @baseGray;
          .actions {display: block;}
     }
   }
   &-form {
    padding: @projectsPadding 0;
   }
}

.custom-control {line-height: 40px;
  a:hover {text-decoration: none; font-weight: bold;}
}

a {.cursorPointer;}

#projects, #directories {
  .quick-edit-list;
}

#editor-nav-list {
  & > li:first-child {margin-left: 80px;}
}

.navbar-placeholder {height: 55px;}
#files {width: 200px;} 



#title-wrapper {
  h2, a{display: inline; margin: 0; padding: 0;margin-right: 5px;}
  h2 {
    a {color: black;}
  }
  .iconText();
  margin-bottom: 10px;
}

#editor-perspective {
  .iconText();
}


#interpretation-canvas {
  border: 1px solid transparent;margin: 0 auto;
  &:hover { border-color: @baseGray;}
}
  





